.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    &__icons-list {
    gap: 30px;
    padding-top: 50px;
      }
    &__icon {
    fill: var(--icon-color);
    transition: fill 250ms var(--function-transition);
      }  
      
    
    &__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: var(--border-radius);
    transition: border-color 250ms var(--function-transition);
      &:hover {
            border-color: var(--selection-color);
          }
      &:focus {
    outline: none;
    border: 1px solid var(--selection-color);
    border-radius: var(--border-radius);    
          }
      }
  }
  .our-clients {
    &__link:hover > .our-clients__icon {
      fill: var(--selection-color);
    }
    &__link:focus > .our-clients__icon {
      fill: var(--selection-color);
    }
}
  