.header {
    &__container {
        display: flex;
}
    &__logo {
        color: var(--primary-color);
        margin-top: 24px;
        margin-bottom: 25px;
        margin-right: 93px;
}
}

.header {   
    &__contacts {
          display: flex;
          gap: 30px;
          padding: 0;
          margin-top: 32px;
          margin-bottom: 32px;
          align-items: center;
          &-link {
              
              font-weight: 500;
              font-size: 14px;
              line-height: 1.14;
              letter-spacing: 0.02em;
              text-decoration: none;
              color: var(--header-contacts-color);
              transition: color 250ms var(--function-transition);
              
                  &--tel {
                  display: flex;
                  align-items: center;
                    }
                  &:hover,
                  &:focus {color: var(--selection-color);}  
              
            }
            &-icon {
              margin-right: 8px;
              fill: currentColor;
              transition: fill 250ms var(--function-transition);
              &:hover,
              &:focus {fill: currentColor;}
           
        }
    }
}

