*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.list {
    list-style: none;
    padding-left: 0;
    display: flex;
  }

.section-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin: 0 auto;
}  
