:root {
--primary-color: #212121;
--text-color: #757575;
--header-contacts-color: rgba(117, 117, 117, 1);
--selection-color: #2196f3;
--background-color: #2f303a;
--assets-icon-bg: #f5f4fa;
--bg-overlay-color: rgba(47, 48, 58, 0.4);
--secondary-font-color: #ffffff;
--footer-logo-address-color: rgba(255, 255, 255, 1);
--footer-links-color: rgba(255, 255, 255, 0.6);

--icon-color: rgba(175, 177, 184, 1);
--footer-icons-bg-color: rgba(255, 255, 255, 0.1);
--portfolio-overlay-color: rgba(33, 150, 243, 0.9);
--backdrop-color: rgba(0, 0, 0, 0.2);
--modal-links-color: rgba(33, 150, 243, 1);
--placeholder-color: rgba(117, 117, 117, 0.5);
--border-radius: 4px;
--secondary-font: 'Raleway', sans-serif;
--function-transition: cubic-bezier(0.4, 0, 0.2, 1); }